.menu {
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: start;
    gap: 0;
    // width: 100%;
    // height: 100%;
    // // left: 0;
    // z-index: 50;
    // position: absolute;
  }

  .block {
    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: var(--theme-heading-color);
      margin-bottom: 19px;

      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  hr {
    height: 1px;
    border: 0;
    background: var(--line-hr-bg);
    width: 100%;
    margin: 20px 0 30px;

    @media (min-width: 992px) {
      display: none;
    }
  }
}

.pageslist {
  flex-direction: column;
  margin-top: 15px;
}

.nav {
  &__links {
    display: flex;
    align-items: center;
    gap: 70px;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }

    a {
      color: var(--theme-links-color);
      font-size: 14px;

      @media (max-width: 992px) {
        font-size: 18px;
        line-height: 180%;
        color: var(--theme-heading-color);
        text-transform: uppercase;
      }
    }
  }

  .active {
    a {
      font-weight: bold;
    }
  }
}

.header {
  height: 109px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  &__row {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 50px;
    align-items: center;
    border-bottom: 1px solid #ACC2BD40;
    position: relative;
    z-index: 3;

    @media (max-width: 992px) {
      grid-template-columns: 1fr auto;
      padding: 20px 0;
    }
  }
}

.ToggleTheme {
  cursor: pointer;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  gap: 5px;

  @media (max-width: 992px) {
    gap: 20px;
  }

  &:hover {
    @media (min-width: 992px) {
      transform: scale(1.05);
    }
  }

  span {
    font-size: 13px;
    line-height: 95.4%;

    @media (max-width: 992px) {
      font-size: 18px;
      line-height: 180%;
      text-transform: uppercase;
    }

    > span {
      @media (min-width: 992px) {
        display: block;
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;

  @media (max-width: 992px) {
    flex-direction: column;
    width: 100%;
    gap: 12px;

    a, button {
      width: 100%;
    }
  }
}

.nav {
  &_icon {
    width: 22px;
    padding: 0;
    background: transparent;
    height: 18px;
    position: relative;
    z-index: 33;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border: 0;
    top: 2px;

    &:hover, &:focus {
      background: transparent;

      span {
        position: absolute;
      }
    }

    @media (min-width: 1331px) {
      display: none;
    }

    &:active, &:focus, &:hover {
      border: 0;
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--theme-heading-color);
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;
      }

      &:nth-child(4) {
        top: 12px;
      }
    }

    &_active {
      span {
        &:nth-child(1) {
          top: 6px;
          width: 0;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 6px;
          width: 0;
          left: 50%;
        }
      }
    }
  }
}

.mobileNav {
  background: var(--bg-mobile-menu);
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 125px;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.2s all;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}