.header {
  &__row {
    padding: 32px 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-gap: 90px;
    align-items: center;
    border-bottom: 1px solid #ACC2BD40;

    .ToggleTheme {
      cursor: pointer;
      transition: 0.2s all;

      &:hover {
        transform: scale(1.05);
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}