.bg {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s all;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #202020;
  z-index: 3;

  &.active {
    opacity: 0.5;
  }
}

.team {
  padding-top: 190px;
  padding-bottom: 120px;

  //@media (max-width: 992px) {
  //  padding-top: 0;
  //}

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }


  .card {
    --bdrs: 20px;
    --transition-dur: 250ms;
    position: relative;
    z-index: 0;
    //transition: z-index var(--transition-dur) step-end;
    user-select: none;
    border-radius: var(--bdrs);
    border: 1px solid transparent;

    &__body {
      //background-color: #fff;
      border-radius: var(--bdrs);
      text-align: center;

      .cont {
        padding: 15px;
      }

      .image {
        position: relative;
        margin-bottom: 10px;

        img {
          border-radius: 21px;
          transition: none;
        }
      }

      h3 {
        color: var(--theme-heading-color);
        margin-bottom: 10px;

        @media (min-width: 992px) {
          font-size: 28px;
          line-height: 34px;
        }
      }

      .position {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: var(--theme-heading-color);
        padding: 10px 10px;
        background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
        border-radius: 5px;
        margin: 0 auto;
        display: inline-flex;
      }

      .socials {
        display: inline-flex;
        gap: 17px;
        margin: 15px auto 0;
      }
    }

    .skills {
      text-align: center;
      display: flex;
      gap: 7px;
      flex-direction: column;

      li {
        font-size: 13px;
        line-height: 130%;
      }
    }

    &__box {
      position: absolute;
      inset: 0;
      border-radius: var(--bdrs);
      transition: filter var(--transition-dur);
      z-index: -1;
      width: 100%;
    }

    &__footer {
      position: absolute;
      top: calc(100% - var(--bdrs));
      left: -1px;
      padding: 15px;
      background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
      width: calc(100% - -2px);
      border-radius: 0 0 var(--bdrs) var(--bdrs);
      transform: translateY(-100%);
      opacity: 0;
      transition: transform var(--transition-dur);
      border: 1px solid #FFFFFF;
      border-top: 0;

      h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 7px;
        text-align: center;
        font-weight: 700;
      }
    }

    &:hover {
      z-index: 4;
      transition-timing-function: step-start;
      background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
      border: 1px solid #FFFFFF;
      border-bottom: 0;

      .cont {
        .position {
          background: #fff;

          span {
            background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }

        h3 {
          color: #fff;
        }

        .socials {
          a {
            color: #fff;
          }
        }
      }

      .card__footer {
        opacity: 1;
        transform: translateY(0);
        color: #fff;

        .skills {
          li {
            color: #fff;
          }
        }
      }
    }
  }
}

.partners {
  padding-bottom: 118px;

  h2 {
    margin-bottom: 85px;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .card {
      display: grid;
      grid-template-columns: 175px 1fr;
      //grid-gap: 30px;
      background: var(--astro-card-bg) url('../../../public/partner_bg_card_1.png') no-repeat;
      background-size: cover;
      box-shadow: 0 29px 58px rgba(45, 115, 90, 0.15);
      backdrop-filter: blur(16px);
      border-radius: 20px;
      overflow: hidden;

      &:nth-child(2) {
        background: var(--astro-card-bg) url('../../../public/partner_bg_card_2.png') no-repeat;
        background-size: cover;
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      .text {
        font-size: 18px;
        line-height: 150%;
        padding: 40px 30px;

        h3 {
          margin-bottom: 15px;
        }

        p {
          margin-bottom: 25px;
          line-height: 150%;
          font-size: 18px;

          span {
            color: var(--theme-green-color);
          }
        }

        .dont {
          text-transform: uppercase;
          background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }
}