@import "vars";
@import "typography";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main.main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

body {
  background: var(--theme-body-color) url('../../public/body_bg.png') repeat;
  font-family: 'Montserrat', sans-serif;
  color: var(--theme-text-color);
}

a {
  text-decoration: none;
  color: var(--theme-text-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @media (min-width: $sm_bp) {
    max-width: 540px;
  }

  @media (min-width: $sp_bp) {
    max-width: 720px;
  }

  @media (min-width: $tb_bp) {
    max-width: 960px;
  }

  @media (min-width: $dt_bp) {
    max-width: 1140px;
  }

  @media (min-width: $bdt_bp) {
    max-width: 1446px;
  }
}

#nprogress .bar {
  background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%) !important;
}

body {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    background: #51BEA7;
    opacity: 0.3;

    &-active {
      opacity: 1;
    }
  }
}