.head {
  padding: 72px 0;

  &__row {
    display: grid;
    grid-template-columns: 58% 1fr;
    align-items: center;

    h1 {
      .green {
        background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      .line {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          background: #41A380;
          width: 100%;
          height: 11px;
          top: 72%;
          z-index: -1;
        }
      }
    }

    p {
      font-size: 20px;
      line-height: 180%;
      font-weight: 300;
    }
  }
}

.mission {
  &__row {
    background: url('../../../public/bg_mission.svg') no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 60px;
    padding-right: 10%;

    &.light {
      background: url('../../../public/bg_mission_light.svg') no-repeat;
      background-size: cover;
    }

    h2 {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 20px;
    }

    h5 {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 20px;

      a {
        background: linear-gradient(90.42deg, #41A380 0.29%, #63D5AC 100.54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}