.spoiler {
  transition: .5s all;
  background: var(--spoiler-bg);
  border: 1px solid var(--spoiler-bg);
  border-radius: 15px;

  &.active {
    border-color: var(--theme-green-color);
  }

  &__head {
    transition: 0.3s all;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 25px 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--theme-heading-color);

    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 20px;
      padding: 20px;
    }

    > span {
      &:first-child {
        @media (max-width: 992px) {
          padding-right: 70px;
        }
      }
    }

    .icon {
      transition: 0.3s all;
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        svg {
          max-width: 21px;
        }
      }

      &__active {
        transform: rotate(180deg);
      }
    }
  }

  &__text {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: opacity .5s ease-out, max-height .55s ease-out, padding .25s ease-in .25s;

    &__active {
      max-height: 100%;
      opacity: 1;
      padding: 0 36px 18px 36px;
      transition: padding .25s ease-in, max-height .5s ease-in, opacity .5s ease-in .3s;

      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 150%;
        padding: 0 20px 20px 20px;
      }
    }
  }

}