@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.voyager-card-wrapper:hover {
  position: absolute;
}

.voyager-card-wrapper:hover > p {
  display: block;
}
